    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KH KSH text1";
    font-style: normal;
    font-weight: normal;
}
body{
    height: 100vh;
    display: flex;
    place-content: center;
}
.header-contain{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
}
.left-menu{
    position: fixed;
    width: 250px;
    height: 100vh;
    background: #f2f2f2;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
}
.left-menu .logo{
    padding: 40px 50px;
    display: block;
    position: relative;
    display: flex;
    cursor: pointer;
}
.left-menu .logo i{
    font-size: 1.6rem;
}
.left-menu .logo h2{
    color: #0000ff;
    font-weight: bolder;
    position: relative;
    padding: 10px 10px;
    bottom: 18px;
}
.menu{
    position: relative;
    left: 15px;
    bottom: 40px;
}
.menu li{
    height: 50px;
    width: 220px;
    background: none;
    margin: 2px;
    list-style: none;
    cursor: pointer;
    position: relative;
}
.menu li:nth-child(4){
    background: #fff;
    border-right: 2px solid #0000ff;
}
.menu li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
}
.menu li a{
    text-decoration: none;
    font-size: 1rem;
    color: #666;
    padding: 0 50px;
    position: relative;
    top: 15px;
}
.menu li i{
    position: absolute;
    left: 16px;
    top: 17px;
}
.menu li:hover{
    background: #fff;
    border-right: 2px solid #0000ff;
}
.head-menu{
    position: absolute;
    width: 1116px;
    height: 10vh;
    background: none;
    top: 0;
    right: 0;
    border-right: 1px solid #ddd;
}
.head-account{
    position: absolute;
    right: 220px;
    top: 15px;
}
.new-categories{
    position: absolute;
    width: 180px;
    height: 35px;
    background: none;
    border: 1px solid #787878;
    top: 30px;
    right: 30px;
    border-radius: 5px;
}
.new-categories:hover,
.new-categories:hover a{
    background: #0000ff;
    color: #fff;
}
.new-categories a{
    text-decoration: none;
    color: #666;
}
.oderText{
    position: absolute;
    top: 35px;
    left: 300px;
    font-size: 1.6rem;
    font-weight: bold;
}
table { 
    width: 83%; 
    border-collapse: collapse; 
    background: #fff; 
    position: absolute;
    top: 90px;
    right: 30px;
    padding: 10px;
}
th, td { 
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left; 
}
th { 
    background: #007bff; 
    color: #fff; 
}
.img-products { 
    width: 270px; 
    height: 154px; 
    object-fit: cover; 
    border-radius: 5px; 
}
.image{
    width: 200px;
}
.action-btn{
    width: 160px;
}
.btn{
    color: #fff;
}
